# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Java CI with Maven

on:
  schedule:
    - cron: '41 11 15 12 5'  # Run daily at midnight UTC
  workflow_dispatch:  # Allows manual triggering of the workflow
    inputs:
      reason:
        description: 'Reason for the test run'
        required: false
        default: 'Automated Test Run'
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
       

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: temurin
          cache: maven

      - name: Build with Maven
        run: mvn clean test -Dbrowser="chromeheadless"

      # - name: Upload test results
      #   if: success() || failure()
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: test-reports
      #     path: ./test-output/SparkReport/*
      #     if-no-files-found: warn  # Avoid failure if no files found
      #     include-hidden-files: false  # Exclude hidden files

      - name: Set up Git to use PAT
        if: success() || failure()
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git remote set-url origin https://x-access-token:${{ secrets.GH_PAT }}@github.com/${{ github.repository }}.git  
      
      - name: Deploy report page to Git Hub
        if: success() || failure()
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GH_PAT }}
          publish_dir: ./test-output  # Path to the generated report folder
          force_orphan: true  # This will force the creation of the gh-pages branch without copying hidden files


      - name: Update dependency graph
        if: success() || failure()
        #uses: advanced-security/maven-dependency-submission-action@571e99aab1055c2e71a1e2309b9691de18d6b7d6
        run: |
          # Add commands to update the dependency graph or any other build steps here.
          echo "Updating dependency graph or build process"
      
